{% extends "layout.html" %}
{% block content %}
<h1>Welcome</h1>
<p>Here is a simple/quick way to find out what resources are needed to upgrade your Horizion Zero Dawn:Forbidden West
    gear.</p>
<h2>Why</h2>
<p>I have put in over 150 hours of Forbidden West, and I have loved every minute of it. When new game plus came out I
    was all of going thru it again ultra hard though I knew I needed to get the ng+ legendary weapons to hopefully
    succeed. That put me on a mission to figure out what resources and how many to get them.</p>
<p>That was a long and hard, had to go to many sites, and play long hours collecting that information. I wanted to help
    out the other players starting (or replaying) in planning out the cost in resources to obtain the items they want.
    So I consolidated the data I found, along with new info as I played to create a database and this site to get to the
    data.</p>

<h2>Credits</h2>
<p>A shout out to <a href="https://www.reddit.com/user/Italicman/" class="link-primary">Italicman</a> who's reddit
    <a href="https://www.reddit.com/r/horizon/comments/tjj7ev/horizon_forbidden_west_item_upgrades_and_stats/ -->"
        class="link-primary">post</a> provided me his <a
        href=https://docs.google.com/spreadsheets/d/1p5OS3SpGRH5QgXMbPSWcr00aPu-uDTVOCn6ZrqY4YAo/edit#gid=1866094099"
        class="link-primary">Horizon Forbidden West - Item Upgrades & Stats Tool
    </a> spreadsheet which provided me a majority of the pre-newgame data for me to start with.
</p>

<p>Also <a href="https://game8.co/games/Horizon-Forbidden-West" class="link-primary">game8.com</a> which was used to
    fill
    in some blank info.
</p>
<h2>Help</h2>
<p>There is lots of data, and game updates, so I expected some corrections will be needed. Please help me help you with
    good data.</p>
<p>If you find something that needs to be corrected let me know, by sending an email to <i>junkyardjojo</i>
    at <i>gmail</i> dot <i>com</i>, with what info is incorrect, and what it should be corrected to. That will be a big
    help.
</p>

{% endblock %}